In [2]:
class Employee():
    pass

In [3]:
emp1 = Employee()  #instance of a class
emp2 = Employee()

In [4]:
emp1

In [5]:
emp2

In [7]:
emp1 ,emp2

(<__main__.Employee at 0x22db4b6ee90>, <__main__.Employee at 0x22db4b6f810>)

In [8]:
print(emp1, emp2)

<__main__.Employee object at 0x0000022DB4B6EE90> <__main__.Employee object at 0x0000022DB4B6F810>

In [9]:
emp1.first = 'MIHIKA'   #instance variable
emp1.last = 'RAJPUT'
emp1.expectations = 'x100'

In [11]:
emp2.first = 'MANASWI'
emp2.last = 'DEVEKAR'
emp2.expectations = 'x1e9'

In [12]:
print(emp1.first)

MIHIKA

In [13]:
print(emp2.expectations)

x1e9

In [40]:
class Employees():
    def __init__(self, first, last, expectations):
        self.first = first
        self.last = last
        self.expectations = expectations 
        
    def msg(self):
        print(self.first + ' ' + 'has very high expectations!')

In [41]:
e1 = Employees('MIHIKA','RAJPUT', 'x100')
e2 = Employees('Addy','Reily', 'x123')

In [42]:
print(e1.first)

MIHIKA

e1.msg()

In [43]:
e1.msg()

MIHIKA has very high expectations!

In [45]:
print(e2.msg())

Addy has very high expectations!
None

# ENCAPSULATION

In [46]:
class Employees():
    def __init__(self, first, last, expectations):
        self.first = first
        self.last = last
        self.__expectations = expectations 
        
    def msg(self):
        print(self.first + ' ' + 'has very high expectations!')

In [47]:
e1.salary

AttributeError: 'Employees' object has no attribute 'salary'

# INHERITANCE

In [50]:
class Employee2(Employees):
    pass

In [52]:
e3 = Employee2('zade', 'meadows', 'xAddy')

In [53]:
e3.expectations

AttributeError: 'Employee2' object has no attribute 'expectations'

In [54]:
e3.first

'zade'